{% extends 'base.html' %}
{% block content %}
<main class="mn-inner">
    <h5 style="color: blue; padding-top: 10px; padding-left: 10px;">Add Staff Details</h5>
    <div class="row">
        <div class="middle-content">
            <div class="row no-m-t no-m-b">
                <form method="POST" action="{% url 'add_staff' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- Profile Pic -->
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Profile Pic</label>
                        <div class="col-sm-10">
                            <input type="file" class="form-control" name="profile_pic" required>
                        </div>
                    </div>
                    <!-- First Name -->
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">First Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="first_name" required>
                        </div>
                    </div>
                    <!-- Last Name -->
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Last Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="last_name" required>
                        </div>
                    </div>
                    <!-- Email -->
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" name="email" required pattern="^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$">
                            <small class="form-text text-muted">(Please enter a valid email address (e.g., example@gmail.com)).</small>
                        </div>
                    </div>
                    <!-- Username -->
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Username</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="username" required pattern="^[a-zA-Z][a-zA-Z0-9_]*$">
                            <small class="form-text text-muted">(Username must contain upper/lower letters with number and special character)</small>
                        </div>
                    </div>
                    <!-- Password -->
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" name="password" required pattern="^(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[^\w\d\s:])([^\s]){8,}$">
                            <small class="form-text text-muted">(Password must be at least 8 characters long, include at least one uppercase letter, at least one lowercase letter, at least one digit, and at least one special character.)</small>
                        </div>
                    </div>
                    <!-- Gender -->
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Gender</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="gender" required>
                                <option value="">Choose Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                    </div>
                    <!-- Address -->
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Address</label>
                        <div class="col-sm-10">
                            <textarea rows="4" cols="5" class="form-control" name="address" required></textarea>
                        </div>
                    </div>
                    <!-- Submit Button -->
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-dark">Add Staff</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}